@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.addToListBtn {
	position: fixed;
	top: 50%;
	left: 1em;
	background-color: black;
	color: white;
	padding: 1.5em;
	z-index: 1001;
	height: auto;
	line-height: normal;
	border: 1px solid white;
	transition: 1s;
	font-family: 'Roboto Mono', monospace;
	width: fit-content;
	text-align: center;
	cursor: pointer;
}

.addToListBtn:not(.added):hover {
	background-color: white;
	color: black;
	border: 1px solid black;
	transition: 1s;
}

.addToListBtn.added {
	transition: 1s;
	background-color: rgb(22, 157, 22);
	cursor: default;
}

